div {
    //border: 1px dashed gray;
}

#main {
    display: inline-block;
}

#toprow {
    //text-align: justify;
    text-align: center;
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

#fovimg {
    display: table-cell;
    vertical-align: middle;
}

#roiimg {
    display: table-cell;
    vertical-align: middle;
}

#bottomrow {
}

#traces {
  padding: 5px
}

#stackedRoiTracesP {
  padding: 5px
}

#roimap {
  padding: 5px
}

#InhibitionVsArea{
  padding: 5px
}

#navbar {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 15%;
}

#fovselect {
    background: #CCCC99;
    padding: 5px;
}

#setselect {
    background: #CCCC99;
    padding: 5px;
    border-top: 1px solid #FFFFAA;
    border-bottom: 1px solid #FFFFAA;
}

#roiselect {
    background: #CCCC99;
    padding: 5px;
}

a {
    font-family: sans-serif;
    color: #333333;
    text-decoration: none;
}

#stimrois {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
